<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amandinha</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <style>
        .circle {
            background-image: url("../static/img/page4.jpeg");
        }
    </style>

</head>
<body>

<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            <img src="https://fontmeme.com/permalink/220212/2c9631798b9c5dfecbbadda35adb2736.png"
                 alt="friends-tv-series-font">
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a href="/">Page 1</a>
        <a href="/letter2">Page 2</a>
        <a href="/letter3">Page 3</a>
        <a href="/letter4" class="selectA">Page 4</a>
    </div>
</div>

<input type="checkbox" id="heartInput">
<label for="heartInput" class="hearts" id="heartholder"></label>
<span class="hearts" id="heart"></span>
<span class="circle"></span>

<input type="radio" checked="checked" id="checkENG" name="language">

<div class="message eng">
    <p>"Por que te amo eu não sei<br>
        Mas quero te amar cada vez mais"</p>
    <p class="love">Mais um Fevereiro pra conta..</p>
    <h6>Não é muito mas é tudo o que tenho, TE AMO!</h6>
</div>

</body>
<script src="../static/js/script.js"></script>
</html>