<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amandinha</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <style>
        .circle {
            background-image: url("../static/img/page3.jpeg");
        }
    </style>

</head>
<body>

<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            <img src="https://fontmeme.com/permalink/220212/2c9631798b9c5dfecbbadda35adb2736.png"
                 alt="friends-tv-series-font">
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a href="/">Page 1</a>
        <a href="/letter2">Page 2</a>
        <a href="/letter3" class="selectA">Page 3</a>
        <a href="/letter4">Page 4</a>
    </div>
</div>

<!-- partial:index.partial.html -->
<input type="checkbox" id="heartInput">
<label for="heartInput" class="hearts" id="heartholder"></label>
<span class="hearts" id="heart"></span>
<span class="circle"></span>

<input type="radio" checked="checked" id="checkENG" name="language">

<div class="message eng">
    <p id="shadow"><b>Nunca sei o que dizer ou como dizer, mas eu quero
        muito te falar que eu senti amor de todas as formas possíveis e não existe uma gota de arrependimento no que
        sobrou de mim.</b></p>
    <p class="love">Você é a pessoa mais incrível da face da terra!</p>
</div>

</body>
<script src="../static/js/script.js"></script>
</html>